@font-face {
    -fx-font-family: 'NotoEmoji-Regular';
    src: url('/font/NotoEmoji-Regular.ttf');
}

.list-cell {
    -fx-font-family: 'NotoEmoji-Regular';
    src: url('/font/NotoEmoji-Regular.ttf');
    -fx-font-size: 20;
 }